body {
    margin-left: 0;
}

section {
    margin-top:-8vh;
    height: 100vh;
}
#btn-scroll-top {
    background-color: rgb(243, 179, 206, 0.3);
    width: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#btn-scroll-top:hover {
    background-color: rgb(243, 179, 206);
}

.btn-cita{
    border-color: white;
    color: white;
}
.btn-precio{
    border-width: 2px;
    border-color: rgb(219, 217, 217);
    color: rgb(219, 217, 217);
}
.btn-outline-info:hover{
    border-color: rgb(250, 189, 207);
    background-color: rgb(255, 255, 255, 0);
    color: rgb(250, 189, 207);
    font-weight: bold;
}
.card-header{
    background-color: rgb(250, 189, 207);
}
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcfdfd;
}
.btn-whats {
    color: #fff;
    background-color: #198754;
    width: 100%;
}
.btn-whats:hover {
    background-color: #0f5132;
}
.accordion-button {
    color: palevioletred;
    background-color: rgb(255, 253, 253);
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(247, 162, 177);
}

